header {
    width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

li {
    list-style: none;
}

li button {
    background-color: rgba(205, 236, 128, 0.503);
    border: none;
    padding: 10px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
}

ul {
    margin-left: auto;
}

button.active {
    background-color: rgb(178, 0, 86);
    color: white; 
}
