header {
    width: 100vw;
}

li {
    list-style: none;
}

li button {
    background-color: rgba(205, 236, 128, 0.503);
    border: none;
    padding: 10px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
}

ul {
    margin-left: auto;
}

/* Header.css */
button.active {
    background-color: blue; /* Changez la couleur de fond pour indiquer le bouton actif */
    color: white; /* Changez la couleur du texte pour une meilleure lisibilité */
    /* Ajoutez d'autres styles selon vos préférences */
}
