header {
    width: 100vw;
}

li {
    list-style: none;
}

button {
    background-color: blue;
    border: none;
    padding: 10px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
}

ul {
    margin-left: auto;
}
